footer {
  background-color: $brand-primary;
  color: #fff;
  padding: 2rem 0 1rem;
  margin-top: 3.5rem;
  h4 {
    padding: 0;
    font-size: 1rem;
    font-weight: 600;
  }
  .copyright {
    font-size: 0.75rem;
  }
  .copyright-small {
    margin-top: 0.5rem;
    font-size: 0.625rem;
  }
  ul {
    list-style-type :none;
    font-size: 0.875rem;
    padding-left: 0;
    margin-bottom: 3rem;
    li {
      a {
        color: #fff;
        &:hover, &:active, &:visited {
          color: #fff;
        }
      }
    }
  }
}