* {
  box-sizing: border-box;
}
body, html, #app {
  position: relative;
  height: 100%;
  background-color: #fff;
}

a {
  transition: 0.3s;
  color: lighten($brand-primary, 15);
  &:hover {
    text-decoration: none;
  }
}

@media(min-width: 1440px) {
  .container {
    width: 1410px;
  }
}

.page-container {
  margin: 2.5rem 0;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.btn {
  transition: 0.3s;
  &:hover {
    background-color: lighten($brand-primary, 15);
  }
}

@media (max-width: 1200px) {
  .navbar-toggle {
    margin-top: 20px;
  }
  .navbar-header {
    float: none;
  }
  .navbar-left,.navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    float: none!important;
    margin-top: 15px;
  }
  .navbar-nav>li {
    float: none;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in{
    display:block !important;
  }
  .navbar-nav .open .dropdown-menu {
   position: static;
   float: none;
   width: auto;
   margin-top: 0;
   background-color: transparent;
   border: 0;
   -webkit-box-shadow: none;
   box-shadow: none;
 }
}

table {
  width: 100%;
  &.dataTable, &.todays-game {
    tbody {
      tr {
        background-color: transparent;
        &:nth-child(even) {
          background-color: #f5f5f5;
        }
      }
    }
  }
  &.player-page-table {
    display: none;
    table-layout: fixed;
    td {
      width: 7.6%
    }
    @media(min-width: 768px){
      display: table;
    }
  }
  &.vs-table {
    td, th {
      text-align: center;
    }
  }
}

#player-stats-small {
  display: block;
  @media(min-width: 768px) {
    display: none;
  }
}
.vs-div {
  display: none;
  margin-bottom: 2rem;
}

.gameday-div {
  margin-bottom: 2rem;
}

.button-container {
  margin-top: 4rem;
  @media(min-width: 768px) {
    a {
      position: absolute;
      bottom: 1.5rem;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.random-tweet {
  margin-top: 1rem;
  padding: 2rem;
  border: 2px solid #ddd;
  margin-bottom: 1rem;
}

.todays-opponent-logo {
  width: 100%;
}

.pb-0 {
  padding-bottom: 0 !important;
}
.mb-0 {
  margin-bottom: 0!important;
}

.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .btn-primary.dropdown-toggle {
  background-color: lighten($brand-primary, 20);
}

.gameday-thread {
  background-color: #000;
  margin-bottom: 20px;
  margin-left: -15px;
  margin-right: -15px;
  position: relative;
  h2 {
    margin-top: 0;
  }
  .team-col {
    padding: 0;
    margin: 0;
    width: 48%;
    display: inline-block;
    position: relative;
    text-align: center;
  }
  img {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 175px;
  }

  img.gameday-logo {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 50px;
    margin: 0;
  }
}