.page-header {
  padding: 0;
  margin: 0;
  height: 100%;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  .header-container {
    position: relative;
    height: 100%;
  }
  .header-content {
    position: absolute;
    bottom: 5%;
    color: #fff;
    margin: 0;
    text-shadow: 1px 1px #888;
    padding-right: 0;
    h1 {
      margin-top: 0;
      font-size: 1.25rem;
      font-weight: 600;
      background-color: transparent;
      padding: 0;
    }
    p {
      font-size: 1.25rem;
      line-height: 1.3;
    }
    @media(min-width: 480px) and (max-width: 768px) {
      h1 {
        font-size: 1.75rem;
      }
    }

    @media(min-width: 768px) and (max-width: 1200px) {
      h1 {
        font-size: 2rem;
      }
    }

    @media(min-width: 1200px) {
      bottom: 10%;
      padding-right: 20%;
      h1 {
        font-size: 2.5rem;
      }
      p {
        line-height: 1.5;
      }
    }
  }
}

.plain-header {
  margin-top: 120px;
}
.screen {
  background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  @media(min-width: 1200px) {
    background-image:linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,0.3), rgba(0,0,0,0.9));
  }
}

@media( min-width: 990px ){
  .desktop-brand {
    display: block;
  }
  .mobile-brand {
    display: none;
  }
}

@media( max-width: 990px ){
  .desktop-brand {
    display: none;
  }
  .mobile-brand {
    display: block;
  }
}