

.social-player {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 0.5rem;
  p {
    margin: 0;
  }
  margin-bottom: 1rem;
  .avatar {
    float: left;
    margin-right: 0.5rem;
  }
  .player {
    float: left;
  }
  .player-name {
    color: $brand-primary;
    font-weight: 500;
  }
}
