.navbar {
  min-height: 80px;
  .navbar-collapse {
    border: none;
  }
  @media(min-width: 1200px) {
    font-size: 1rem;
  }
}
.navbar.transparent-nav.navbar-default {
  background-color: rgba(255,255,255,1);
  transition: 0.3s;
  @media(min-width: 1200px) {
    background-color: rgba(255,255,255,0.9);
  }
  &.opaque {
    background-color: rgba(255,255,255,1);
  }
}

.dropdown-menu {
  padding-bottom: 0;
}
.navbar-nav {
  margin-bottom: 0;
  li {
    border-bottom: 1px solid #ddd;
    a {
     line-height: 50px;
     font-weight: 400;
    }
  }
}

.navbar-default .navbar-nav > li > a {
  font-size: 0.9rem;
  color: $brand-primary;
  &:hover {
    color: lighten($brand-primary, 20);
  }
}
.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
    max-height: 740px;
}

.user-avatar {
  border-radius: 50%;
  height: 30px;
  width: 30px;
}