.post-container {
  margin-bottom: 5rem;
  h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    background-color: transparent;
    color: $brand-primary;
    padding-left: 0;
    padding-right: 0;
    font-weight: 600;
  }

  img {
    max-width: 100%;
  }

  .align-center {
    text-align: center;
  }
}

