.segment-block {
  width: 100%;
  text-align: center;
  margin: 1rem 0;
  border-bottom: 1px solid #ddd;
  padding: 0.5rem;
  @media( min-width: 768px) {
    width: 16.5%;
    float: left;
    border: none;
  }
  img {
    width: 30px;
    height: 30px;
    @media( min-width: 769px) {
      width: 50px;
      height: 50px;
    } 
  }
  &.win {
    background-color: rgba(0, 128, 0, 0.1);
  }
  &.pity {
    background-color: rgba(255,255,0,.1);
  }
  &.loss {
    background-color: rgba(220,20,60,.1);
  }

  .segment-win {
    font-weight: 600;
    color: green;
  }
  .segment-tie {
    font-weight: 600;
    color: blue;
  }
  .segment-loss {
    font-weight: 600;
    color: red;
  }
}