.current-games {
  display: flex;
  margin-top: 1.5rem;
  position: relative;
  overflow: hidden;
  padding: 0;
  .current-game {
    display: flex;
    flex-grow: 1;
    margin: 0 10px 0 0;
    font-size: 0.75rem;
    font-weight: 600;
    border-right: 2px solid #ddd;
    padding-right: 10px;
    width: 200px;
    min-width: 200px;
    &:last-child {
      border: none;
      margin-right: 0;
      padding-right: 0;
    }
    td {
      padding-bottom: 0.25rem;
    }
    tr.loser {
      color: #a0a0a0 !important;
      font-weight: 400 !important;
    }
  }
}

tr.loser {
  color: #a0a0a0 !important;
  font-weight: 400 !important;
}
tr.winner {
  color: black !important;
  font-weight: 600 !important;
}
.games-container {
  display: flex;
  flex-basis: 100%;
  position: relative;
  margin: 0 2.25rem;
}
.prev, .next {
  position: absolute;
  height: 100%;
  width: 40px;
  z-index: 50;
  background-color: #fff;
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    background-color: #f0f0f0;
  }
  p {
    font-size: 1.25rem;
    width: 100%;
    text-align: center;
    top: 50%;
    right: 0;
    margin: 0;
    transform: translateY(-50%);
    position: absolute;
    color: lighten($brand-primary, 25);
  }
}
.next {
  right: 0;
  box-shadow: -5px 0 5px -2px #f0f0f0;
}

.prev {
  box-shadow: 5px 0 5px -2px #f0f0f0;
  p {
    right: auto;
    left: 0;
  }
}

.game-date {
  display: flex;
  align-items: center;
  width: 60px;
  background: #939393;
  color: white;
  margin-right: 10px;
  text-align: center;
  p {
    font-size: 0.625rem;
    font-weight: 600;
    text-align: center;
    width: 100%;
  }

}