body, html {
  font-size: 20px;
  font-family: $font-family-sans-serif;
  font-weight: 300;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-family: $font-family-heading;
  font-weight: 400;
  background-color: $brand-primary;
  color: #fff;
  padding: 0.5rem 1rem;
  &.reverse {
    background-color: transparent;
    color: $brand-primary;
    padding-left: 0;
    padding-right: 0;
  }
}

p {
  font-size: 1rem;
}

h1, .h1 {
  font-size: 2.5rem;
}

h2, .h2 {
  font-size: 1.75rem;
}

h3, .h3 {
  font-size: 1.5rem;
}

h4, .h4 {
  font-size: 1.25rem;
}

h5, .h5 {
  font-size: 0.875rem;
}

.small {
  font-size: 0.75rem;
}

.right-align {
  text-align: right
}

@media(min-width: 480px) and (max-width: 768px) {
  body, html {
    // font-size: 16px;
  }
}

@media(min-width: 768px) {
  body, html {
    // font-size: 20px;
  }
}