.article-teaser {
  .header {
    padding-bottom: 50%;
    background-size: cover;
    background-position: center;
    position: relative;
  }
  .article-teaser-inner {
    border: 2px solid #999;
    border-radius: 4px;
    margin-bottom: 2rem;
    h3 {
      position: absolute;
      bottom: 15px;
      margin: 0;
      left: 0;
      right: 0;
      font-size: 0.875rem;
    }
    a {
      &:hover {
        text-decoration: none;
      }
    }
    p {
      padding: 1rem;
      line-height: 1.5;
      font-size: 1rem;
      &.author {
        padding: 0.5rem 1rem;
        margin-bottom: 0;
      }
      &.excerpt {
        padding-top: 0;
        margin-bottom: 5rem;
        @media(min-width: 768px){
          margin-bottom: 4rem;
        }
        @media(min-width: 1200px){
          margin-bottom: 3rem;
        }
      }
      @media(min-width: 1200px) {
        font-size: 0.875rem;
      }
    }
  }
  .read-more {
    position: absolute;
    bottom: 0.125rem;
    left: 50%;
    transform: translateX(-50%);
    @media(min-width: 1024px) {
      bottom: 2rem;
    }
  }
}

.article-teaser-link {
  &:hover {
    text-decoration: none;
    h3 {
      background-color: lighten($brand-primary, 15);
      transition: 0.3s
    }
    .btn {
      background-color: lighten($brand-primary, 15);
    }
  }
}

.featured-teaser-container {
  margin-bottom: 2rem;
  position: relative;

}
.featured-teaser {
  .header {
    padding-bottom: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
    text-shadow: 0 0 3px rgba(0,0,0,.27);
    @media(min-width: 480px) {
      padding-bottom: 56.25%;

    }
  }
  .excerpt {
    color: #fff;
    font-weight: 600;
  }
  h2 {
    background-color: transparent;
    padding: 0;
    margin-bottom: 1rem;
    font-weight: 600;
  }
  .featured-inner {
    position: absolute;
    bottom: 2rem;
    left: 3rem;
    right: 3rem;
  }
}