
#schedule {
  img {
    width: 40px;
    height: 40px;
    display: block;
    margin: 0 auto 10px;
  }
  p {
    font-size: 0.75rem;
  }
  .win {
    font-weight: 600;
  }
  h2 {
    background-color: transparent;
    color: $brand-primary;
  }
}

.fc-event, .fc-event:hover {
  background-color: transparent;
  border: none;
  color: $brand-primary;
}

video {
  width: 100%;
  height: auto;
}

@media (min-width: 990px) {
  .modal-dialog {
    width: 900px;
    margin: 30px auto;
  }
}