.sharing {
  // position: absolute;
  // bottom: 10px;
  // left: 50%;
  // transform: translateX(-50%);
  text-align: center;
  .share-link {
    height: 50px;
    width: 50px;
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
    border-radius: 50%;
    display: inline-block;
    margin: 1rem;
    font-size: 1.5rem;
    transition: 0.3s;
    @media( min-width: 768px ) {
      padding: 0 1rem;
      border-radius: 50px;
      line-height: 2.5;
      width: auto;
      font-size: 1rem;
    }
    a {
      color: #fff;
      display: block;
    }
  }
  .facebook-share {
    background-color: #3B5998;
    &:hover {
      background-color: lighten(#3B5998, 15);
    }
  }
  .twitter-share {
    background-color: #00aced;
    &:hover {
      background-color: lighten(#00aced, 15);
    }
  }
}
.sidebar-component .sharing-sidebar p.share-link {
  border-radius: 50%;
  font-size: 1.5rem;
  padding: 0;
  width: 50px;
  line-height: 1.5;
}

.sidebar-stuck {
  position: fixed;
  top: 100px;
  width: 18.5%;
  background-color: white;
}