.sidebar-container {
  margin: 2.5rem 0;
  display: none;
  @media(min-width: 1200px){
    display: block;
  }
}
.sidebar-component {
  position: relative;
  h2 {
    margin-top: 0;
    font-size: 0.8755rem;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
  }
  .section {
    border: 1px solid #999;
    border-radius: 4px;
    margin-bottom: 1rem;
    padding: 0.5rem;
    p {
      font-size: 0.75rem;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  ol {
    li {
      font-size: 1rem;
      @media(min-width: 1200px){
        font-size: 0.75rem;
      }
    }
  }
  ul {
    padding-left: 1rem;
    li {
      font-size: 1rem;
      margin-bottom: 0.5rem;
      @media(min-width: 1200px){
        font-size: 0.75rem;
      }
    }
  }
  .sidebar-schedule-logo {
    height: 40px;
    width: 40px;
  }
}

.sm {
  font-family: fontawesome;
  font-size: 1.75rem;
  margin: 0 0.3755rem;
}
a.twitter-sm {
  color: #00aced;
  &:hover {
    color:lighten(#00aced, 25);
  }
}
a.facebook-sm {
  color: #3b5998;
  &:hover {
    color:lighten(#3b5998, 25);
  }
}
a.instagram-sm {
  color: #883ab8;
  &:hover {
    color:lighten(#883ab8, 25);
  }
}

.standings-div {
  margin-left: 1.5rem;
  margin-bottom: 1rem;
  p {
    margin-bottom: 0;
  }
}