.small-headshot {
  border-radius: 50%;
  border: 1px solid #ddd;
}

.player-name {
  text-align: center;
  @media(min-width: 1440px) {
    text-align: left;
  }
}
.stat-table {
  tr {
    transition: 0.3s;
    &:hover {
      background-color: $brand-primary !important;
      color: #fff;
      a {
        color: #fff;
      }
    }
  }
  a {
    display: block;
    &:hover {
      text-decoration: none;
    }
  }
}

.player-stats {
  img {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
  }
  .header {
    text-align: center;
    h1 {
      font-size: 2rem;
    }

    .stat-bar {
      background-color: $brand-primary;
      color: #fff;
      padding: 0.5rem 0;
      p {
        margin: 0;
      }
    }
  }
  .row {
    margin-bottom: 2rem;
  }
}

.tweet {
  border: 2px solid #ddd;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  padding: 0.75rem;
  p {
    font-size: 0.75rem;
    margin-bottom: 0;
  }
  .tweet-time {
    font-size: 0.625rem;
    display: block;
    width: 100%;
    text-align: left;
    a {
      margin-right: 0.5rem;
    }
  }
}

// Leader board
.leader-avatar, .leader-player, .player-stat{
  float: left;
  img {
    max-width: 50px;
  }
  p {
    margin-left: 10px; 
    margin-bottom: 0;
    line-height: 1.4;
    font-size: 0.625rem !important;
    &.player-name {
      font-weight: 600;
      @media(min-width: 1300px) {
        font-size: 0.75rem !important;
      }
    }
    &.type {
      text-transform: uppercase;
    }
  }
}
.leader-row {
  margin: 1.25rem 0;
}
.player-stat {
  text-align: right;
  float: right;
  .stat {
    font-weight: 600;
    font-size: 1.375rem !important;
  }
}

.sidebar-component .section.record-div {
  p {
    margin: 0;
    padding: 0.5rem 1rem;
    font-weight: 600;
    &:nth-child(odd){
      background-color: #ddd;
      margin-left: -0.5rem;
      margin-right: -0.5rem;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
    &:last-child{
      background-color: #fff;
    }
  }
}

#full-standings {
  display: none;
}

table.dataTable {
  width: 100% !important;
  td:nth-child(1){
    max-width: 320px;
  }
}

.rest-of-conference tr:nth-child(2) td {
  border-bottom: 5px solid #777;
}

.team-toggle {
  display: inline-block;
  @media(min-width: 480px) {
    display: none;
  }
}

.name-break {
  display: block;
  @media(min-width: 1450px) {
    display: none;
  }
}