.youtube-video {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  // margin: 15px;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}